/* -------------Final Round(Jeopardy) Styling----------------------*/

/* Define format, coloring and sizing of final category header */
h3 {
  border: 1px solid rgb(16, 128, 138);
  background-color: rgb(23, 202, 217);
  width: 50%;
  margin: 1vw auto;
  height: 2vw;
  padding-top: 1vw;
  color: rgb(37, 37, 37);
  font-size: 1.2rem;
}

/* Define format, coloring and sizing of final question box */
.finalquestion {
  border: 1px solid rgb(23 202 217);
  margin: 0 auto;
  width: 50%;
  height: 12vw;
}

/* Define format and sizing of final answer form inputs */
.userinput {
  position: relative;
  display: grid;
  width: 20%;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto;
  padding-top: 2%;
}

/* Define sizing and format of final bet button */
#bet {
  width: 20%;
  height: 60%;
  position: relative;
  margin: 0 auto;
  margin-top: 2vw;
 }

 /* Format changes for input */
#amount,
#answer {
  margin: 2%;
  padding: 1%;
}

/* Disabling of button -- need to ensure JavaScript provides functionality */
#bet[disabled] {
  cursor: not-allowed;
}

